.chart-bg-odd {
  background: linear-gradient(0deg, rgba(61, 61, 61, 0.521), rgba(44, 44, 44, 0.904)), url('../../img/bg.jpg') center no-repeat;
}

.chart-bg-even {
  background: linear-gradient(0deg, rgba(44, 44, 44, 0.904), rgba(61, 61, 61, 0.521)), url('../../img/bg.jpg') center no-repeat;
}

.chart-container {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.chart-container p {
  font-size: 16px;
  margin: 40px;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontal-flex .filter-container { 
  flex: 1;
  margin: 20px;
  color: white !important;
}

.filter-item {
  padding: 8px;
}

.players-slider {
  padding: 8px;
  width: 1000px;
}
