.home-bg {
  background: linear-gradient(0deg, rgba(44, 44, 44, 0.795), rgba(61, 61, 61, 0.384)), url('../../img/bg.jpg') center no-repeat;
}

.home-intro-text {
  animation: fade-in 2s;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
